
  @import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    background-color:  rgb(16, 15, 43);
}

.container-fluid {
    background-color: rgb(3,46,95);
}

.middle {
    border: 2px rgb(255, 255, 255) solid;
    border-right: 3px rgb(255, 255, 255) solid;
    border-radius: 4px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40pt;
    margin: 20px 0 20px 0;
    font-family: 'Iceland', cursive;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-brand {
   font-family: 'Iceland', cursive;
   font-size: 40pt;
   background-image: linear-gradient(to right, rgb(49, 58, 190), rgb(22, 178, 206));
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17pt;
    color: rgb(27, 27, 49);
    padding-bottom: 10px;
    text-align: center;
}

.field1 {
    /*Aquele negócio da borda*/
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(194, 194, 209));
    border: 2px solid rgb(54, 54, 194);
    border-radius: 20px;
    max-width: 40%;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}
iframe {
    position: absolute;
}

.direita {
    position: absolute;
    right: 0;
}

span {
    /*Foi preciso para poder fazer a ideia do Igor*/
    padding: 0px 7px 0px 1px;
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px rgb(255, 255, 255) solid; */
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10.5pt;
    color: rgb(0, 0, 0);
    margin-left: 15px;
}

input {
    /*Somente para separar os botões de si mesmos*/
    margin-top: 15px;
}

button {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(167, 167, 167));
    color: rgb(51, 51, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 1px 10px 1px 10px;
    border-radius: 20px;
}

.fieldbtm {
    text-align: center;
    letter-spacing: 90px;
}

span:hover,
button:hover {
    border-color: rgb(0, 174, 255);
    color: rgb(0, 204, 255);
}

.footer {
    background-color: rgb(57,86,114);
    padding-bottom: 1px;
}

.ftext {
    color: white;
}

h2 {
    color: cyan;
    margin-left: 15px;
    font-family: 'Iceland', cursive;
    font-size: 40px;
}

.funny {
    margin-left: 10px;
}